{% extends 'base_generic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
   
<body>
    <h1>lOGIN DE USUARIO</h1>
    <h2>Inicia seccion aqui</h2>
  <!--{% include 'base_generic.html' %}-->
</body>
<Script src="http://code.jquery.com-1.10.2.min.js"> </Script>
<script src="{% static 'news/js/bootstrap.min.js' %}"></script>

</html>